body {
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #D16BA5,#86A8E7,#5FFBF1);

}

h1{
  color: rgb(33, 6, 58);
  text-shadow: 0.2;
}


